<section id="main-slider">
    <div class="oman-banner__div">
        <div class="container-fluid">
            <div class="row flexing__div">
                <div class="col-md-8 col-sm-12">
                    <h1 class="banner__heading">WE SERVE QUALITY FOOD</h1>
                    <div class="banner__sub__heading">
                        Immerse yourself in the rich, vibrant flavors of authentic Indian vegetarian cuisine. 
                        Each dish is carefully crafted to capture the true essence of India, bringing you the bold and 
                        aromatic flavors that make Indian food so unforgettable. Every bite offers a unique experience, 
                        transporting you to the heart of India with every meal.
                    </div>
                </div>
            </div>
            <img src="/images/main-slider/image-6.jpg" alt="">
        </div>
        <div class="banner-img">
            <img src="\images\main-slider\oman-mainslider-bg.jpg" alt="">
        </div>
    </div>
</section>