<section class="our-menu-oman" id="our-menu">
    <div class="auto-container clearfix">
        <div class="sec-title wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.3s" data-wow-offset="5">
            <h2>Food Items</h2>
            <h1>Our Menu</h1>
        </div>
        <div class="sec-text wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.3s" data-wow-offset="5">
            <p> A delightful selection crafted to satisfy every craving.<br />
                Dive into flavors you'll love and dishes made just for
                you!
            </p>
        </div>
        <div class="image-right-top">
            <img src="/images/background/menu-1.png" alt="" />
        </div>
        <div class="col-container anim-5-all clearfix">
            <div class="col-md-3 col-sm-6 col-xs-12 col">
                <div class="menu-block wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.3s" data-wow-offset="5">
                    <div class="menu-container">
                        <a href="/breakfast">
                            <div class="title-icon"><span class="icon img-circle flaticon-cutlery22"></span></div>
                            <div class="menu-img">
                                <span class="overlay">
                                    <h2>View Menu</h2>  
                                </span>
                                <img src="/images/breakfast.jpg"/>
                            </div>
                            <h2>Breakfast & Dinner</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 col">
                <div class="menu-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.3s" data-wow-offset="5">
                    <div class="menu-container">
                        <a href="/lunch">
                            <div class="title-icon"><span class="icon img-circle flaticon-hamburger"></span></div>
                            <div class="menu-img">
                                <span class="overlay"><h2>View Menu</h2></span>
                                <img src="/images/our-menu/lunch.jpeg" />
                            </div>
                            <h2>Lunch</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 col">
                <div class="menu-block wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1.3s" data-wow-offset="5">
                    <div class="menu-container">
                        <a href="/snacks">
                            <div class="title-icon"><span class="icon img-circle flaticon-glass15"></span></div>
                            <div class="menu-img">
                                <span class="overlay"><h2>View Menu</h2></span>
                                <img src="/images/our-menu/snacks.jpeg" />
                            </div>
                            <h2>Snacks</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 col">
                <div class="menu-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.3s" data-wow-offset="5">
                    <div class="menu-container">
                        <a href="/others">
                            <div class="title-icon"><span class="icon img-circle flaticon-chicken3"></span></div>
                            <div class="menu-img">
                                <span class="overlay"><h2>View Menu</h2></span>
                                <img src="/images/our-menu/indo-chinese.jpeg" />
                            </div>
                            <h2>Others</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</section>