<section class="our-services" id="our-services">
    <div class="auto-container clearfix">
        <div class="sec-title wow fadeInUp" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            <h2>Our Services</h2>
            <h1>What We Offer</h1>
        </div>
        <div class="box-container clearfix">
            <article class="col-md-3 col-sm-6 col-xs-12 anim-7-all box wow fadeInLeft" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                <figure class="image">
                    <img src="/images/services/dine-in.jpg" alt=""/>
                </figure>
                <div class="text-content">
                    <h3 class="title">
                        <span class="icon flaticon-cutlery22"></span>
                        Dine-in
                    </h3>
                    <div class="text">
                        Step into a warm and inviting ambiance, where you can enjoy freshly prepared meals in the company 
                        of family and friends. Our space is perfect for a relaxed dining experience, making every meal a 
                        memorable one.
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12 anim-7-all box wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                <figure class="image">
                    <img class="img-circle" src="/images/services/take-away.jpg" alt=""/>
                </figure>
                <div class="text-content">
                    <h3 class="title">
                        <span class="icon flaticon-hamburger"></span>
                        Takeaway
                    </h3>
                    <div class="text">
                        In a rush?<br> Grab your favorite meals with our quick and convenient takeaway service. 
                        Freshly packed and ready for you to enjoy on the go.
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12 anim-7-all box wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                <figure class="image">
                    <img class="img-circle" src="/images/services/cateering.jpg" alt=""/>
                </figure>
                <div class="text-content">
                    <h3 class="title">
                        <span class="icon flaticon-chicken3"></span>
                        Catering
                    </h3>
                    <div class="text">
                        Impress your guests <br> with our expertly crafted catering services. Whether it's a corporate event 
                        or a wedding, we provide delicious, hassle-free meal solutions tailored to your needs. 
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12 anim-7-all box wow fadeInRight" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                <figure class="image">
                    <img class="img-circle" src="/images/services/party-hall.jpg" alt=""/>
                </figure>
                <div class="text-content">
                    <h3 class="title">
                        <span class="icon flaticon-glass15"></span>
                        Party Hall
                    </h3>
                    <div class="text">
                        Make your celebrations unforgettable with our tailored party meal options. 
                        From intimate gatherings to grand events, we’re here to cater to all your needs with delicious, 
                        customized meals.
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>