<section class="special-recipes style-two" id="special-recipes">
    <div class="auto-container clearfix">
        <div class="sec-title wow fadeInUp" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            <h2>Special Recipes</h2>
            <h1>Taste of Precious</h1>
        </div>
        <div class="sec-text wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="5">
            <p>
                Indulge in Our Signature Dishes – The finest flavors,
                expertly crafted for a truly unforgettable dining
                experience.<br />
                Taste the best we have to offer!
            </p>
        </div>
        <div class="recipes-box">
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1s" data-wow-offset="5">
                <figure class="image">
                    <img src="/images/special-recipes/img-1.jpg" alt="Recipe"/>
                    <div class="overlay">
                        <div class="content">
                            <a href="#" class="link">
                                <span class="icon flaticon-knife52"></span>
                            </a>
                        </div>
                    </div>
                </figure>
                <div class="text-content">
                    <div class="icon">
                        <span class="flaticon-recepcionist"></span>
                    </div>
                    <h4 class="rec-title">
                        KUZHIPANIYARAM
                    </h4>
                    <div class="rating">
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-stars56"></span>
                    </div>
                </div>
            </article>
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                <figure class="image">
                    <img src="/images/special-recipes/img-2.jpg" alt="Recipe"/>
                    <div class="overlay">
                        <div class="content">
                            <a href="#" class="link"> 
                                <span class="icon flaticon-knife52"></span>
                            </a>
                        </div>
                    </div>
                </figure>
                <div class="text-content">
                    <div class="icon">
                        <span class="flaticon-recepcionist"></span>
                    </div>
                    <h4 class="rec-title">CHILLI PARATHA</h4>
                    <div class="rating">
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-stars56"></span>
                    </div>
                </div>
            </article>
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1s" data-wow-offset="5">
                <figure class="image">
                    <img src="/images/special-recipes/img-3.jpg" alt="Recipe"/>
                    <div class="overlay">
                        <div class="content">
                            <a href="#" class="link"
                            ><span
                            class="icon flaticon-knife52"
                            ></span
                            ></a>
                        </div>
                    </div>
                </figure>
                <div class="text-content">
                    <div class="icon">
                        <span class="flaticon-recepcionist"></span>
                    </div>
                    <h4 class="rec-title">TM SPECIAL KOTHU PARATHA </h4>
                    <div class="rating">
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-stars56"></span>
                    </div>
                </div>
            </article>
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1s" data-wow-offset="5">
                <figure class="image">
                    <img src="/images/special-recipes/img-4.jpg" alt="Recipe"/>
                    <div class="overlay">
                        <div class="content">
                            <a href="#" class="link">
                                <span class="icon flaticon-knife52"></span>
                            </a>
                        </div>
                    </div>
                </figure>
                <div class="text-content">
                    <div class="icon">
                        <span class="flaticon-recepcionist"></span>
                    </div>
                    <h4 class="rec-title">NAGERCOIL RASA VADA</h4>
                    <div class="rating">
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-stars56"></span>
                    </div>
                </div>
            </article>
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                <figure class="image">
                    <img src="/images/special-recipes/img-5.jpg" alt="Recipe"/>
                    <div class="overlay">
                        <div class="content">
                            <a href="#" class="link">
                                <span class="icon flaticon-knife52"></span>
                            </a>
                        </div>
                    </div>
                </figure>
                <div class="text-content">
                    <div class="icon">
                        <span class="flaticon-recepcionist"></span>
                    </div>
                    <h4 class="rec-title">MADHURAI MUSHROOM VARUVAL</h4>
                    <div class="rating">
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-stars56"></span>
                    </div>
                </div>
            </article>
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1s" data-wow-offset="5">
                <figure class="image">
                    <img src="/images/special-recipes/img-6.jpg" alt="Recipe"/>
                    <div class="overlay">
                        <div class="content">
                            <a href="#" class="link">
                                <span class="icon flaticon-knife52"></span>
                            </a>
                        </div>
                    </div>
                </figure>
                <div class="text-content">
                    <div class="icon">
                        <span class="flaticon-recepcionist"></span>
                    </div>
                    <h4 class="rec-title">DRAGON PANEER</h4>
                    <div class="rating">
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-star138"></span>
                        <span class="flaticon-stars56"></span>
                    </div>
                </div>
            </article>
            <div class="clearfix"></div>
        </div>
    </div>
</section>