{{ define "oman" }}
{{ partial "oman/header-oman.html" . }}
<div class="menu-banner">
    <img src="/images/our-menu/lunch-banner.png" alt="" />
    <h1>Lunch</h1>
</div>
<div class="menu-wrapper">
    <div class="auto-container clearfix">
        <div class="menu-title">
            <h2>Menu</h2>
        </div>
        <div class="menu">
            <div class="menu-lists">
                <div class="menu-item">
                    <div class="sub-menu">
                        <p class="title">SOUTH INDIAN MEALS </p>
                        <p class="sub-title">( Chappathi, Kuruma, Kootu, Poriyal, Rice, Kolambu, Sambar, Rasam, Moru, Pappad, Sweet, Pickle )</p>
                    </div>
                    <p>1.400 OMR</p> 
                </div>
                <div class="menu-item">
                    <div class="sub-menu">
                        <p class="title"> NORTH INDIAN THALI </p>
                        <p class="sub-title">( Veg Clear Soup, Salad, Chappathi, Paneer Butter Masala, Veg Biriyani or Jeera Rice, Dal Fry, Mushroom65, Masala Pappad, Curd, Sweet, Pickle)</p>
                    </div>
                    <p>2.000 OMR</p>
                </div>
                <div class="menu-item">
                    <div class="sub-menu">
                        <p class="title">MINI MEALS</p>
                        <p class="sub-title">( SAMBAR RICE, RASAM RICE,VEG BIRIYANI,CURD RICE, PAPPAD,PICKLE )</p>
                    </div>
                    <p>1.000 OMR</p>
                </div>
                <div class="menu-item">
                    <p>SAMBAR RICE</p>
                    <p>0.900 OMR</p>
                </div>
                <div class="menu-item">
                    <p>CURD RICE</p>
                    <p>1.000 OMR</p>
                </div>
                <div class="menu-item">
                    <p>TOMATO RICE</p>
                    <p>0.900 OMR</p>
                </div>
                <div class="menu-item">
                    <p>TAMARIND RICE</p>
                    <p>0.900 OMR</p>
                </div>
                <div class="menu-item">
                    <p>VEGITABLE BIRIYANI</p>
                    <p>1.000 OMR</p>
                </div>
                <div class="menu-item">
                    <p>JEERA RICE</p>
                    <p>1.000 OMR</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{{ end }}