{{ define "oman" }}
    <div class="page-wrapper">
        <div class="preloader"></div>
        {{ partial "oman/header-oman.html" . }}
        {{ partial "oman/banner.html" . }}
        {{ partial "oman/about-us.html" . }}
        {{ partial "oman/special-recipes.html" . }}
        {{ partial "oman/our-services.html" . }}
        {{ partial "oman/our-menu.html" . }}
        {{ partial "oman/our-branches.html" . }}
        {{ partial "oman/footer-oman.html" . }}
        <div class="go-to-top img-circle anim-3 fa fa-angle-up"></div>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/jquery.scrollTo.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/script.js"></script>

{{ end }}