{{ define "oman" }}
{{ partial "oman/header-oman.html" . }}
<div class="menu-banner">
    <img src="/images/our-menu/others-banner.jpg" alt="" />
    <h1>Snacks</h1>
</div>
<div class="menu-wrapper">
    <div class="auto-container clearfix">
        <div class="menu-title">
            <h2>Menu</h2>
        </div>
        <div class="menu">
                <div class="menu-lists">
                    <div class="menu-list-title">
                        <h1>INDO CHINESE</h1>
                        <h2> "A Fusion of Flavors, Spiced to Perfection!"</h2>
                    </div>
                    <div class="menu-list-sub-title">
                        <h2>SOUP</h2>
                    </div>
                    <div class="menu-item">
                        <p>TOMATO SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>VEG.CLEAR SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MANCHOW SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>SWEET CORN SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>HOT & SOUR SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                </div>
                <div class="menu-lists">
                    <div class="menu-list-sub-title">
                        <h2>RICE AND NOODLES</h2>
                    </div>
                    <div class="menu-item">
                        <p>VEG. NOODLES</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MUSHROOM NOODLES</p>
                        <p>1.400 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MUSHROOM SZECHWAN NOODLES</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>VEG.HAKKA NOODLES</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>VEG. FRIED RICE</p>
                        <p>1.400 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>PANEER FRIED RICE</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MUSHROOM FRIED RICE</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>SZECHWAN FRIED RICE</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>VEG MANCHURIAN</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>GOBI MANCHURIAN</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>PANEER MANCHIRIAN</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CHILLI IDIYAPPAM</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CHILLI IDLI</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CHILLI CHAPATHI</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CHILLI MUSHROOM</p>
                        <p>1.400 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CHILLI PANEER</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CHILLI GOBI</p>
                        <p>1.400 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MUSHROOM PALLI PALAYAM</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>SCHEZWAN POTATO</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MUSHROOM MALABAR CURRY</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MUSHROOM CHETTINAD MASALA</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>PANEER CHETTINAD MASALA</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CRISPY VEGITABLE</p>
                        <p>1.400 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>PANEER 65</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>GOBI 65</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MUSHROOM 65</p>
                        <p>1.300 OMR</p>
                    </div>
                </div>
                <div class="menu-lists">
                    <div class="menu-list-title">
                        <h1>INDIAN CURRIES</h1>
                        <h2>"A Symphony of Flavors: Authentic Indian Curries Crafted to Perfection."</h2>
                    </div>
                    <div class="menu-item">
                        <p>CHANNA MASALA</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>PANEER BUTTER MASALA</p>
                        <p>1.600 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>KADAI PANEER</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>METHI BUTTER MALAI</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>ALOO GOBI</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>VEG.KHOLAPURI</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>ALOO MUTTER</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>PANEER HARA MASALA</p>
                        <p>1.500 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>BHINDHI MASALA</p>
                        <p>1.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>DAL THADKA / DAL FRY</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>VEG PULAO</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CASHEWNUT PULAO</p>
                        <p>1.400 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>GREEN PEAS PULAO</p>
                        <p>1.400 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>NAVARATAN PULAO</p>
                        <p>1.500 OMR</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
