{{ define "oman" }}
{{ partial "oman/header-oman.html" . }}
<div class="menu-banner">
    <img src="/images/our-menu/snacks-banner.jpg" alt="" />
    <h1>Snacks</h1>
</div>
<div class="menu-wrapper">
    <div class="auto-container clearfix">
        <div class="menu-title">
            <h2>Menu</h2>
        </div>
        <div class="menu">
            <div class="menu-lists">
                <div class="menu-list-title">
                    <h1> Crispy, Spicy, and Full of Tradition: </h1>
                    <h2> “Snack Time Made Special!”</h2>
                </div>
                <div class="menu-item">
                    <p>SAMOSA</p>
                    <p>0.150 OMR</p>
                </div>
                <div class="menu-item">
                    <p>ONION PAKORA</p>
                    <p>0.300 OMR</p>
                </div>
                <div class="menu-item">
                    <p>MEDHU VADA</p>
                    <p>0.100 OMR</p>
                </div>
                <div class="menu-item">
                    <p>PARUPPU VADA</p>
                    <p>0.100 OMR</p>
                </div>
                <div class="menu-item">
                    <p>PANIPURI</p>
                    <p>0.700 OMR</p>
                </div>
                <div class="menu-item">
                    <p>DHAHI PURI</p>
                    <p>0.900 OMR</p>
                </div>
                <div class="menu-item">
                    <p>BHEL PURI</p>
                    <p>0.700 OMR</p>
                </div>
                <div class="menu-item">
                    <p>PAV BHAJI</p>
                    <p>1.200 OMR</p>
                </div>
                <div class="menu-item">
                    <p>VADA PAVA</p>
                    <p>0.800 OMR</p>
                </div>
                <div class="menu-item">
                    <p>DABELI</p>
                    <p>0.800 OMR</p>
                </div>
                <div class="menu-item">
                    <p>RAGADA PATTICE</p>
                    <p>0.800 OMR</p>
                </div>
            </div>
            <div class="menu-lists">
                <div class="menu-list-title">
                    <h1>BEVERAGES</h1>
                    <h2> "Sips of Pure Bliss – Freshness in Every Drop!"</h2>
                </div>
                    <div class="menu-list-sub-title">
                        <h2>HOT</h2>
                    </div>
                    <div class="menu-item">
                        <p>TEA</p>
                        <p>0.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>KARAK TEA</p>
                        <p>0.100 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>COFFEE</p>
                        <p>0.300 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>FILTER COFFEE</p>
                        <p>0.400 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>POONDU SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>KAALAN SOUP </p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>VAAZHA THANDU  SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MURUNGA SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>HOT & SOUR SOUP</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-list-sub-title">
                        <h2>COLD</h2>
                    </div>
                    <div class="menu-item">
                        <p>ROSE MILK</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>POMAGRANATE</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MANGO JUICE</p>
                        <p>1.000 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CARROT JUICE</p>
                        <p>1.000 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MIXED JUICE</p>
                        <p>1.000 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>ORANGE JUICE</p>
                        <p>1.000 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>APPLE JUICE</p>
                        <p>1.000 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>LEMON JUICE</p>
                        <p>0.600 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MINT LIME</p>
                        <p>0.700 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>AVACADO SHAKE</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>BANANA MILK SHAKE</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MANGO SHAKE</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>PISTHA SHAKE</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-list-sub-title">
                        <h2>FALOODA</h2>
                    </div>
                    <div class="menu-item">
                        <p>PISTHA FALOODA</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>KESAR FALOODA</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>CHOCOLATE FALOODA</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>BUTTERSCOTCH FALOODA</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>STRAWBERRY FALOODA</p>
                        <p>1.200 OMR</p>
                    </div>
                    <div class="menu-item">
                        <p>MANGO FALOODA</p>
                        <p>1.200 OMR</p>
                    </div>
            </div>
        </div>
    </div>
</div>
{{ end }}