<!-- <section id="" class="main-slider ">
 
    <div class="tp-banner-container ">
      
        <div class="tp-banner " >
          
            <ul>
                
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/images/main-slider/image-5.jpg"  data-saveperformance="off"  data-title="We Serve Quality">
                <img src="/images/main-slider/image-5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">                    
                
                <div class="tp-caption white_heavy_42 lfb tp-resizeme"
                data-x="center" data-hoffset="-0"
                data-y="center" data-voffset="-50"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="2000"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeInOut"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h1>We serve quality food</h1></div>
                
                
                <div class="tp-caption white_heavy_42 lfb tp-resizeme slide-text"
                data-x="center" data-hoffset="-0"
                data-y="center" data-voffset="70"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="2000"
                data-start="1000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeInOut"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Welcome to Tiffin Master, where every bite is a celebration of flavor and freshness.<br> Explore a world of mouthwatering recipes, curated ingredients, and culinary inspiration designed to make every meal unforgettable.<br> Let us guide your journey to delicious dining and joyful moments around the table.</div>
                
                <div class="tp-caption white_heavy_42 lfb tp-resizeme"
                data-x="center" data-hoffset="-0"
                data-y="center" data-voffset="160"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="2000"
                data-start="1200"
                data-easing="Power4.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeInOut"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a class="full-btn" href="#">LEARN MORE</a></div>
                
                </li>  
            </ul></div>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section> -->

<section class="main-slider">
    <div class="banner__div">
        <div class="container-fluid">
            <div class="row flexing__div">
                <div class="col-md-6 col-sm-12">
                    <h1 class="banner__heading">WE SERVE QUALITY FOOD</h1>
                    <div class="banner__sub__heading">Welcome to Tiffin Master, where every bite is a celebration of flavor and freshness. Explore a world of mouthwatering recipes, curated ingredients, and culinary inspiration designed to make every meal unforgettable. Let us guide your journey to delicious dining and joyful moments around the table.</div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="video__div">
                        <video width="100%" autoplay muted loop controls>
                            <source src="/video/video.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>