<section id="main-slider">
    <div class="india-banner__div">
        <div class="container-fluid">
            <div class="row flexing__div">
                <div class="col-md-8 col-sm-12">
                    <h1 class="banner__heading">WE SERVE QUALITY FOOD</h1>
                    <div class="banner__sub__heading">Welcome to Tiffin Master, where every bite is a celebration of flavor and freshness. Explore a world of mouthwatering recipes, curated ingredients, and culinary inspiration designed to make every meal unforgettable. Let us guide your journey to delicious dining and joyful moments around the table.</div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="video__div">
                       <video width="100%" autoplay muted loop controls>
                            <source src="/video/video.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>