
<footer class="main-footer" id="main-footer">
    <div class="auto-container">
        
        <!--Newsletter-->
        <!-- <div class="newsletter anim-7-all">
            <div class="row">
            
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Subcribe To our News Latter now!!</h2>
                    <h3>Some lorem ipsum subtitle here</h3>
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form">
                    <form method="post" action="index.html">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Enter you email address" required>
                            <button type="submit"></button>
                        </div>
                    </form>
                    </div>
                </div>
                
            </div>
        </div> -->
        <!--Newsletter End-->
        
        <!--Middle-->
        <div class="middle anim-7-all clearfix">
            
            <!--Column-->
            <div class="col-md-6 col-sm-12">
                <!--About-->
                <div class="widget about wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                    <h3>ABOUT US</h3>
                    <p>TIFFIN MASTER founded by Mr. Mithran Shankar & guided by team of experts who initiated the successful Brand "Coffee n Recharge" - Chain of coffee shops. In today's senario the failure in food business is mostly because of human dependency. Tiffin Master has created a system and the system drives the business.</p>
                    <br>
                    
                    <ul class="info">
                        <!-- <li><span class="icon flaticon-pin56"></span> &ensp; 60 Grant Ave. Carteret NJ 0708</li> -->
                        <li><span class="icon fa fa-phone"></span> &ensp; <strong>Headoffice:</strong> India(Chennai) - +91 98847 66523</li>
                        <li><span class="icon fa fa-phone"></span> &ensp; <strong>Branch:</strong> Oman(Ruwi, Muscat) - +968 7119 9919</li>
                        <!-- <li><span class="icon flaticon-email15"></span> &ensp; info@companyname.com</li> -->
                    </ul>
                </div>
                <br>
                <!--Business Hours-->
                <!-- <div class="widget business-hours wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="5">
                    <h3>OPENING HOURS</h3>
                    
                    <ul>
                        <li class="clearfix"><span class="pull-left">Monday - Friday </span> <span class="pull-right">9am - 10pm</span></li>
                        <li class="clearfix"><span class="pull-left">Sunday </span> <span class="pull-right">10am - 7pm</span></li>
                        <li class="clearfix"><span class="pull-left">Saturday </span> <span class="pull-right">10pm - 4am</span></li>
                    </ul>
                    
                </div> -->
            </div>
            
            <!--Column-->
            <!-- <div class="col">
                
                <div class="widget twitter-feeds wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="5">
                    <h3>Twitter Feeds</h3>
                    
                    <div class="feed">
                        <span class="icon flaticon-twitter43 img-circle"></span>
                        <p>Very lovely  design ever I have seen. <a href="#">/</a></p>
                        <span class="date">July 2, 2014</span>
                    </div>
                    
                    <div class="feed">
                        <span class="icon flaticon-twitter43 img-circle"></span>
                        <p>Very lovely  design ever I have seen. <a href="#"></a></p>
                        <span class="date">July 2, 2014</span>
                    </div>
                    
                    <div class="feed">
                        <span class="icon flaticon-twitter43 img-circle"></span>
                        <p>Very lovely  design ever I have seen. <a href="#"></a></p>
                        <span class="date">July 2, 2014</span>
                    </div>
                    
                    <div class="feed">
                        <span class="icon flaticon-twitter43 img-circle"></span>
                        <p>Very lovely  design ever I have seen. <a href="#"></a></p>
                        <span class="date">July 2, 2014</span>
                    </div>
                    
                </div>
            </div> -->
            
            <!--Column-->
            <div class="col-md-6 col-sm-12 last">
                <!--Contact Form-->
                <div class="widget contact-form wow fadeIn" data-wow-delay="1s" data-wow-duration="1.5s" data-wow-offset="5">
                    <h3>Contact Us</h3>
                    
                    <div class="form">
                        <form id="contact-form" method="post" action="index.html">
                            <div class="form-group">
                                <input type="text" name="name" value="" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            
                            <button type="submit" class="full-btn">Send</button>
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <!--Middle End-->
        
        <!--Bottom-->
        <div class="bottom anim-7-all clearfix">
            <!--Bottom-->
            <div class="copyright wow fadeInLeft" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5"> &copy; copyright 2024 Tiffin Master</div>
            <!--Social-->
            <div class="social">
                <a href="#" class="fa fa-facebook-f wow fadeInRight" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5"></a>
                <a href="#" class="fa fa-twitter wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1.5s" data-wow-offset="5"></a>
                <a href="#" class="fa fa-google-plus wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="1.5s" data-wow-offset="5"></a>
                <a href="#" class="fa fa-pinterest-p wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.5s" data-wow-offset="5"></a>
            </div>
        </div>
        
    </div>
</footer>