<header class="main-header header-style-two">
    <div class="auto-container">
        <div class="header-inner">
            <div class="logo">
                <a href="/landing-page"><img src="/images/logo-2.png" alt="Logo"></a>
            </div>
            <nav id="nav-menu">
                <div class="navbar-header">
                        	
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse clearfix">
                    <div class="left-nav">
                        <ul>
                            <li><a href="/india/#main-slider">HOME</a></li>
                            <li><a href="/india/#our-services">SERVICE</a></li>
                            <li><a href="/india/#our-menu">MENU</a></li>
                        </ul>
                    </div>
                    <div class="right-nav">
                        <ul>
                            <li><a href="/india/#our-branches">BRANCHES</a></li>
                            <li><a href="/india/#contact-form">CONTACT US</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </nav>  
        </div>
    </div>
</header>
