<section class="our-menu-india" id="our-menu">
    <div class="auto-container clearfix">
        <div class="sec-title wow fadeInUp" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            <h2>Food Items</h2>
            <h1>Our Menu</h1>
        </div>
        <div class="sec-text wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="5">
            <p>A delightful selection crafted to satisfy every craving.<br> Dive into flavors you'll love and dishes made just for you!</p>
        </div>
        <div class="image-right-top"><img src="/images/background/menu-1.png" alt=""></div>
        <div class="col-container anim-5-all clearfix">
        	<div class="col-md-4 col-sm-6 col-xs-12 col">
            	<div class="menu-block wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                	<div class="title-icon"><span class="icon img-circle flaticon-lunch9"></span></div>
                    <h4>Idly-2 + Sambar + Chutney</h4>
                    <h4>Kall Dosa</h4>
                    <h4>Butter Kall Dosa</h4>
                    <h4>Onion Uthapam</h4>
                    <h4>Kall Masala</h4>
                    <h4>Podi Kall</h4>
                    <h4>Poondu Podi Kal</h4>
                    <h4>Kara Podi Dosa</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col">
            	<div class="menu-block wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                	<div class="title-icon"><span class="icon img-circle flaticon-hamburger"></span></div>
                    <h4>Butter Podi Dosa</h4>
                    <h4>Butter Masala Podi Dosa</h4>
                    <h4>Ghee Podi Dosa</h4>
                    <h4>Ghee Masala Podi Dosa</h4>
                    <h4>Ghee Kara Podi Dosa</h4>
                    <h4>Pongal</h4>
                    <h4>Chapathi-2</h4>
                    <h4>Poori-2</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 col">
            	<div class="menu-block wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
                	<div class="title-icon"><span class="icon img-circle flaticon-chicken3"></span></div>
                    <h4>Onion Podi Uthapam</h4>
                    <h4>VADA</h4>
                    <h4>Kesari</h4>
                    <h4>Upuma</h4>
                    <h4>Ghee Kichadi</h4>
                    <h4>18 - Ghee Idly</h4>
                    <h4>Sambar Idly</h4>
                    <h4>Sambar - VADA</h4>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</section>