<section class="our-services" id="our-services">
	<div class="auto-container clearfix">
        <div class="sec-title wow fadeInUp" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            <h2>Our Services</h2>
            <h1>What We Offer</h1>
        </div>
        <div class="box-container clearfix">
        	<article class="col-md-3 col-sm-6 col-xs-12 anim-7-all box wow fadeInLeft" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            	<figure class="image"><img class="img-circle" src="/images/breakfast.jpg" alt=""><a href="/images/breakfast.jpg" class="zoom" data-rel="prettyPhoto" title="Image Title Here"></a></figure>
                
                <div class="text-content">
                	<h3 class="title"><span class="icon flaticon-cutlery22"></span> &ensp; Breakfast</h3>
                    <div class="text">Kickstart your morning with our freshly prepared breakfast. From classics to unique creations, we have something to energize your day.</div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12 anim-7-all box wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            	<figure class="image"><img class="img-circle" src="/images/lunch.jpg" alt=""><a href="/images/lunch.jpg" class="zoom" data-rel="prettyPhoto" title="Image Title Here"></a></figure>
                
                <div class="text-content">
                	<h3 class="title"><span class="icon flaticon-hamburger"></span> &ensp; Lunch</h3>
                    <div class="text">Take a delicious break with our satisfying lunch menu, crafted to suit every craving. From light bites to hearty meals, we’ve got you covered.</div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12 anim-7-all box wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            	<figure class="image"><img class="img-circle" src="/images/breakfast.jpg" alt=""><a href="/images/breakfast.jpg" class="zoom" data-rel="prettyPhoto" title="Image Title Here"></a></figure>
                
                <div class="text-content">
                	<h3 class="title"><span class="icon flaticon-chicken3"></span> &ensp; Dinner</h3>
                    <div class="text">End your day on a high note with our diverse dinner offerings. Enjoy a perfect blend of taste and ambiance for a memorable meal.</div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12 anim-7-all box wow fadeInRight" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            	<figure class="image"><img class="img-circle" src="/images/dessert.jpeg" alt=""><a href="/images/dessert.jpeg" class="zoom" data-rel="prettyPhoto" title="Image Title Here"></a></figure>
                
                <div class="text-content">
                	<h3 class="title"><span class="icon flaticon-glass15"></span> &ensp; Others</h3>
                    <div class="text">Treat yourself to our indulgent desserts, crafted to satisfy every sweet tooth. From cakes to treats, each bite is pure bliss.</div>
                </div>
            </article>
        </div>
    </div>
</section>