 <section class="our-blog" id="our-branches">
    <div class="container">
        <div class="sec-title wow fadeInUp" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            <h2>Branches</h2>
            <h1>Our Branches</h1>
        </div>
        <div class="card-wrapper">
        <div class="card-container col">
            <div class="india-card card">
                <a href="/india">
                    <div class="description">
                        <h2>INDIA, CHENNAI</h2>
                        <p>HEAD OFFICE</p>
                    </div>
                    <img class="card-background-img" src="/images/india-bg.jpg">
                </a>
            </div>
            <div class="oman-card card">
                <a href="/oman">
                    <div class="description">
                        <h2>OMAN, MUSCAT</h2>
                        <p>BRANCH</p>
                    </div>
                    <img class="card-background-img" src="/images/oman-bg.jpg">
                </a>
            </div>
        </div>
    </div>
        <div class="slider-container wow fadeIn" data-wow-delay="1.5s" data-wow-duration="1.5s" data-wow-offset="5">
            <div class="slider clearfix">
            </div>
        </div>
    </div>
</section>