<section class="special-recipes style-two" id="special-recipes">
	<div class="auto-container clearfix">
        
        <div class="sec-title wow fadeInUp" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            <h2>Special Recipes</h2>
            <h1>Taste of Precious</h1>
        </div>
        <div class="sec-text wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="5">
            <p>Indulge in Our Signature Dishes – The finest flavors, expertly crafted for a truly unforgettable dining experience.<br> Taste the best we have to offer!</p>
        </div>
        
        <!--Recipes Box-->
        <div class="recipes-box">
        	
            <!--Recipe-->
        	<article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1s" data-wow-offset="5">
            	<!--Image-->
            	<figure class="image">
                	<img src="/images/food-1.jpeg" alt="Recipe" title="">
                    <div class="overlay">
                    	<div class="content">
                        	<a href="#" class="link"><span class="icon flaticon-knife52"></span></a>
                        </div>
                    </div>
                </figure>
                <!--Text Content-->
                <div class="text-content">
                	<div class="icon"><span class="flaticon-recepcionist"></span></div>
                    <h4 class="rec-title">Kanchipuram Idly & Dunger Chutney</h4>
                    <div class="rating"><span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-stars56"></span></div>
                    <!-- <div class="short-desc">Lorem Ipsum is simply dummy text of the printing and typesetting </div> -->
                    <!-- <div class="price">$2.65</div> -->
                </div>
            </article>
            
            <!--Recipe-->
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            	<!--Image-->
                <figure class="image">
                	<img src="/images/food-2.jpeg" alt="Recipe" title="">
                    <div class="overlay">
                    	<div class="content">
                        	<a href="#" class="link"><span class="icon flaticon-knife52"></span></a>
                        </div>
                    </div>
                </figure>
                <!--Text Content-->
                <div class="text-content">
                	<div class="icon"><span class="flaticon-recepcionist"></span></div>
                    <h4 class="rec-title">Thonnai Idly</h4>
                    <div class="rating"><span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-stars56"></span></div>
                    <!-- <div class="short-desc">Lorem Ipsum is simply dummy text of the printing and typesetting </div> -->
                    <!-- <div class="price">$2.65</div> -->
                </div>
            </article>
            
            <!--Recipe-->
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1s" data-wow-offset="5">
            	<!--Image-->
            	<figure class="image">
                	<img src="/images/food-3.jpeg" alt="Recipe" title="">
                    <div class="overlay">
                    	<div class="content">
                        	<a href="#" class="link"><span class="icon flaticon-knife52"></span></a>
                        </div>
                    </div>
                </figure>
                <!--Text Content-->
                <div class="text-content">
                	<div class="icon"><span class="flaticon-recepcionist"></span></div>
                    <h4 class="rec-title">Mantharai Ilai Parotta</h4>
                    <div class="rating"><span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-stars56"></span></div>
                    <!-- <div class="short-desc">Lorem Ipsum is simply dummy text of the printing and typesetting </div> -->
                    <!-- <div class="price">$2.65</div> -->
                </div>
            </article>
            
            <!--Recipe-->
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1s" data-wow-offset="5">
            	<!--Image-->
            	<figure class="image">
                	<img src="/images/food-4.jpeg" alt="Recipe" title="">
                    <div class="overlay">
                    	<div class="content">
                        	<a href="#" class="link"><span class="icon flaticon-knife52"></span></a>
                        </div>
                    </div>
                </figure>
                <!--Text Content-->
                <div class="text-content">
                	<div class="icon"><span class="flaticon-recepcionist"></span></div>
                    <h4 class="rec-title">Idly</h4>
                    <div class="rating"><span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-stars56"></span></div>
                    <!-- <div class="short-desc">Lorem Ipsum is simply dummy text of the printing and typesetting </div> -->
                    <!-- <div class="price">$2.65</div> -->
                </div>
            </article>
            
            <!--Recipe-->
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s" data-wow-offset="5">
            	<!--Image-->
            	<figure class="image">
                	<img src="/images/food-5.jpeg" alt="Recipe" title="">
                    <div class="overlay">
                    	<div class="content">
                        	<a href="#" class="link"><span class="icon flaticon-knife52"></span></a>
                        </div>
                    </div>
                </figure>
                <!--Text Content-->
                <div class="text-content">
                	<div class="icon"><span class="flaticon-recepcionist"></span></div>
                    <h4 class="rec-title">Chapathi</h4>
                    <div class="rating"><span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-stars56"></span></div>
                    <!-- <div class="short-desc">Lorem Ipsum is simply dummy text of the printing and typesetting </div> -->
                    <!-- <div class="price">$2.65</div> -->
                </div>
            </article>
            
            <!--Recipe-->
            <article class="recipe wow fadeIn" data-wow-delay="0" data-wow-duration="1s" data-wow-offset="5">
            	<!--Image-->
            	<figure class="image">
                	<img src="/images/food-6.jpeg" alt="Recipe" title="">
                    <div class="overlay">
                    	<div class="content">
                        	<a href="#" class="link"><span class="icon flaticon-knife52"></span></a>
                        </div>
                    </div>
                </figure>
                <!--Text Content-->
                <div class="text-content">
                	<div class="icon"><span class="flaticon-recepcionist"></span></div>
                    <h4 class="rec-title">Rava Idly</h4>
                    <div class="rating"><span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-star138"></span> <span class="flaticon-stars56"></span></div>
                    <!-- <div class="short-desc">Lorem Ipsum is simply dummy text of the printing and typesetting </div> -->
                    <!-- <div class="price">$2.65</div> -->
                </div>
            </article>
            
            <div class="clearfix"></div>
        </div>
        <!--Recipes Box End-->
        
    </div>
</section>