{{define "india"}}

<div class="page-wrapper">
    <div class="preloader" ></div>
    {{ partial "india/header-india.html" . }}
    {{ partial "india/banner.html" . }}
    {{ partial "india/about-us.html" . }}
    {{ partial "india/special-recipes.html" . }}
    {{ partial "india/our-services.html" . }}
    {{ partial "india/our-menu.html" . }}
    {{ partial "india/our-branches.html" . }}
    {{ partial "india/footer-india.html" . }}
    <div class="go-to-top img-circle anim-3 fa fa-angle-up"></div>
</div>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/jquery.scrollTo.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/script.js"></script>
{{end}}